.editTargetContainer {
    vertical-align: bottom;
    margin-right: 40px;
    display: inline-flex;
}

.editTargetHead {
    font-size: 16px;
    color: #df3a2d;
    margin-right: 20px;
    font-weight: bold;
}

.editTarget i {
    font-size: 16px;
}