.editTargetContainer {
    vertical-align: bottom;
    margin-right: 40px;
    display: inline-flex;
}

.toolbarButtonContainer {
    display: inline-flex;
}

.toolbarButtonContainer .toolbar-delete {
    text-align: center;
    vertical-align: middle;
}

.editTargetHead {
    font-size: 16px;
    color: #df3a2d;
    margin-right: 20px;
    font-weight: bold;
}

.editTarget i {
    font-size: 16px;
}

.nav-item.editToolbar:hover {
    color: #ffffff;
}