html {
    height: 100%;
}

body {
    height: 100%;
}

.tree-cms_editmenu {
    display: flex;
    height: 100%;
}

.tree-cms_editmenu .tree-cms_resizeArea {
    width: 16px;
    height: 100%;
}

.tree-cms_editmenu .tree-mainEditArea {
    border-right: solid 1px;
    background-color: #a9a9a9;
    height: 100%;
    flex: 1;
    overflow-y: scroll;
}

.tree-cms_editmenu .tree-previewArea {
    height: 100%;
    flex: 1;
    overflow-y: scroll;
}

.tree-mainEditArea .addEditor {
    color: #df3a2d;
    cursor: pointer;
}

.tree-mainEditArea .selectEditor {
    height: 120px;
    background-color: #ffffff;
    overflow-x: scroll;
    //overflow-y: hidden;
    display: none;
    border: solid 3px #56caef;
}

.selectEditor .editorComponent {
    min-width: 160px;
    height: 100%;
    flex: 1;
    border: groove 1px #ffffff;
    font-size: 16px;
    color: #ffffff;
    background-color: #222222;
    text-align: center;
    cursor:pointer;
}

.selectEditor .editorComponent .editorCategory {
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: groove 1px #ffffff;
}

.selectEditor .editorComponent i {
    font-size: 48px;
}