
.tree-cms_main {
    background-color: #a9a9a9;
    height: 100%;
}

.tree-cms_treeMenu {
    display: flex;
    border-right: groove 1px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    left: 0;
    z-index: 10;
    height: 100%;
    background-color: #ffffff;
    transition: left 0.2s;
}

.tree-cms_resizer {
    background-color: #eeeeee;
    cursor: pointer;
    width: 16px;
}

.tree-cms_treeview {
    width: 180px;
    flex: 1;
}

.tree-cms_treeview .tree-cms_book .tree-cms_bookName {
    font-size: 120%;
}

.tree-cms_treeview .tree-cms_book .tree-cms_bookName:hover {
    background-color: #caffdd;
}

.tree-cms_treeview .tree-cms_book .tree-cms_bookName.is-active {
    background-color: #caffdd;
}

.tree-cms_treeview .tree-cms_book .tree-cms_pageMenu{
    display: none;
}

.tree-cms_treeview .tree-cms_book .tree-cms_pageMenu.is-active {
    display: block;
}

.tree-cms_treeview .tree-cms_book .tree-cms_page {
    padding-left: 20px;
}

.tree-cms_treeview .tree-cms_book .tree-cms_page:hover {
    background-color: #caffdd;
}

.tree-cms_treeview .tree-cms_book .tree-cms_page.is-active {
    background-color: #caffdd;
}

.tree-cms_treeview .tree-cms_book .tree-cms_page i {
    font-size: 12px;
    padding-right: 5px;
}

.tree-cms_treeview .tree-cms_book .tree-cms_pagePlus {
    padding-left: 20px;
    color: #df3a2d;
}

.tree-cms_treeview .tree-cms_book .tree-cms_pagePlus i {
    font-size: 12px;
}

.tree-cms_treeview .tree-cms_book .tree-cms_pagePlus:hover {
    background-color: #caddff;
}

.tree-cms_treeview .tree-cms_book i {
    padding-right: 5px;
    display: inline;
}

.tree-cms_treeview .tree-cms_book input {
    display: inline-block;
}

.tree-cms_treeview .tree-cms_book {
    border-bottom: groove 1px rgba(0, 0, 0, 0.2);
}

.tree-cms_treeview .tree-cms_bookPlus {
    color: #df3a2d;
    font-size: 120%;
}

.tree-cms_treeview .tree-cms_bookPlus i {
    padding-right: 5px;
}

.tree-cms_treeview .tree-cms_bookPlus:hover {
    background-color: #caddff;
}