html {
    height: 100%;
}

body {
    height: 100%;
}

.tree-cms_editmenu {
    display: flex;
    height: 100%;
}

.tree-cms_editmenu .tree-cms_resizeArea {
    width: 16px;
    height: 100%;
}

.tree-cms_editmenu .tree-mainEditArea {
    border-right: solid 1px;
    background-color: #a9a9a9;
    height: 100%;
    flex: 1;
    overflow-y: scroll;
}

.tree-cms_editmenu .tree-previewArea {
    height: 100%;
    flex: 1;
    overflow-y: scroll;
}

.tree-mainEditArea .tree-editor textarea {
    display: block;
    width: 100%;
    border: solid 1px #ffd077;
    resize: none;
}

.tree-mainEditArea .addEditor {
    color: #df3a2d;
    cursor: pointer;
}

.tree-mainEditArea .selectEditor {
    height: 120px;
    background-color: #ffffff;
    overflow-x: scroll;
    display: flex;
    border: solid 3px #56caef;
}

.selectEditor .editorComponent {
    min-width: 160px;
    height: 100%;
    flex: 1;

}

.selectEditor .editorComponent.markdown {
    background-color: #df3a2d;
}

.selectEditor .editorComponent.ace-highlight {
    background-color: #ffd077;
}

.selectEditor .editorComponent.playground {
    background-color: #3aaf2d;
}