<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>content management system</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" title="no title">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$$$','$$$']],
            displayMath: [['$$$$','$$$$']]
            }
    });
    </script>
    <script src="/cms/bundle.js"></script>
</head>
<body>

<nav class="nav tree-nav">
    <div class="nav-left">
        <a class="nav-item tree-title">
            <div class="tree-nav logo"></div>Tree.io CMS
        </a>
    </div>
    <div class="nav-right nav-menu">
        <div class="nav-item editToolbar">
            <div class="toolbarArea">
                <div class="editTargetContainer">
                    <div class="editTargetHead">
                        now editing:  
                    </div>
                    <div class="editTarget"></div>
                </div>
                <div class="toolbarButtonContainer">
                    <a class="button is-info toolbar-save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</a>
                    <a class="button is-danger toolbar-delete"><i class="fa fa-eraser" aria-hidden="true"></i> Delete</a>
                </div>
            </div>
        </div>
    </div>
    </nav>

<div class="is-gapless tree-cms_main">
    <div class="tree-cms_treeMenu">
        <div class="is-one-quarter tree-cms_treeview">
            <div class="tree-cms_books"></div>
            <div class="tree-cms_bookPlus">
                <i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-book" aria-hidden="true"></i>
            </div>
        </div>
        <div class="tree-cms_resizer">
            
        </div>
    </div>
    <div class="tree-cms_editmenu">
        <div class="tree-cms_resizeArea">
        </div>
        <div class="tree-mainEditArea">
            <div class="tree-editors"></div>
            <div class="addEditor">
                <i class="fa fa-plus" aria-hidden="true"></i> add Editor
            </div>
            <div class="selectEditor">
                <div class="editorComponent markdown">
                    <div class="editorCategory">markdown</div>
                    <div><i class="fa fa-grav" aria-hidden="true"></i></div>
                </div>
                <div class="editorComponent highlighter">
                    <div class="editorCategory">code-highlight</div>
                    <div><i class="fa fa-code" aria-hidden="true"></i></div>
                </div>
                <div class="editorComponent playground">
                    <div class="editorCategory">playground</div>
                    <div><i class="fa fa-map-o" aria-hidden="true"></i></div>
                </div>
                <div class="editorComponent picture">
                    <div class="editorCategory">picture</div>
                    <div><i class="fa fa-file-image-o" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
        <div class="tree-previewArea tree-content markdown-body"></div>
    </div>
    <div class="tree-cms_bookInfoArea">
        <div class="tree-cms_resizeArea">
            
        </div>
        <div class="tree-cms_bookInfoForm">
            <div class="tree-cms_bookTitleInput">
                <label class="label">Book Name</label>
                <p class="control">
                    <input class="input" type="text" placeholder="Text input">
                </p>
            </div>
            <div class="tree-cms_bookLinkInput">
                <div class="tree-cms_bookPrevLinkArea tree-cms_bookLinkArea">
                    <div class="tree-cms_LinkTitle">
                        prevBook
                    </div>
                    <div class="tree-cms_prevBooks tree-cms_BookList">
                        <div class="tree-cms_prevBook tree-cms_linkedBook">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            testBook
                        </div>
                        <div class="tree-cms_prevBook tree-cms_linkedBook">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            testBook2
                        </div>
                    </div>
                </div>
                <div class="tree-cms_bookNextLinkArea tree-cms_bookLinkArea">
                    <div class="tree-cms_LinkTitle">
                        nextBook
                    </div>
                    <div class="tree-cms_nextBooks tree-cms_BookList">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>