.tree-nav {
    background-color: #464446;
}

.tree-nav .tree-title {
    font-size: 24px;
}

.tree-nav .nav-toggle span {
    color: #fff;
    background-color: #fff;
}

.tree-nav .nav-toggle:hover {
    background-color: #262426;
}

.tree-nav .nav-item {
    color: #fff;
}

.tree-nav .nav-item:hover {
    color: #68ff98;
}

.tree-nav .control.has-icon .icon i {
    vertical-align: top;
}

.tree-nav .tree-help {
    font-size: 20px;
}

.tree-nav .tree-contact {
    font-size: 20px;
}

.tree-nav .logo {
    width: 30px;
    height: 30px;
    background: url(forest.svg) no-repeat;
    margin: 5px;
}
